<!-- BEGIN:main -->
<script>


function submitBuscarUsuarios(){

	$( "#page" ).val( 1 );
	
	//buscarUsuarios();

	submitBuscar("{WEB_PATH}", "#usuarios_filter{id}", "#{resultDiv}");
}

function ordenarUsuarios(name, type){

	$( "#orderBy" ).val(name);
	$( "#orderByType" ).val(type);
	
	submitBuscar("{WEB_PATH}", "#usuarios_filter{id}", "#{resultDiv}");
}

function paginarUsuarios(page){
	$( "#page" ).val(page);

	submitBuscar("{WEB_PATH}", "#usuarios_filter{id}", "#{resultDiv}");
}

function seleccionarUsuario(event, usuarioId, rowId, checkboxId){


	/* muestro un pop con las opciones sobre el usuario */
	
	gotoLink("{linkSeleccionar}?oid="+usuarioId);
	
}

function eliminarCallback(data){

	console.log( data["info"] );
	submitBuscar("{WEB_PATH}", "#usuarios_filter{id}", "#{resultDiv}");
}


$(document).ready(function(){

	
	submitBuscar("{WEB_PATH}", "#usuarios_filter{id}", "#{resultDiv}");

	$(document).ready(function() {
		  $(window).keydown(function(event){
		    if(event.keyCode == 13) {
		      event.preventDefault();
		      return false;
		    }
		  });
		});
	
	 $(".item input").keyup(function (e) {
         if (e.keyCode == 13) {
             // función para capturar el enter en el filtro default.
        	 submitBuscar("{WEB_PATH}", "#usuarios_filter{id}", "#{resultDiv}");
         }
     });
	
});


</script>


<div id="divUsuarios{id}Toggle1" style="display:none">
<form class="cuentas_form">
		<fieldset>
		<legend class="search_again" id="legend_buscar{id}_open">{legend_again}</legend>
		</fieldset>
</form>		
</div>
<div id="divUsuarios{id}Toggle2">
<form class="cuentas_form" id="usuarios_filter{id}">

		<fieldset>
		
		<legend id="legend_buscar{id}">{legend}</legend>		

		<div class="criteria_left">
			<div class="item">
			    <label for="username">{lbl_username}:</label>
		    	<rasty id="username" />
			</div>
			
		</div>
		
	</fieldset>
	
	<input type="hidden" name="model" value="{model}">
	<input type="hidden" name="filter" value="{filter}">
	<input type="hidden" name="sortCallback" value="ordenarUsuarios">
	<input type="hidden" name="paginationCallback" value="paginarUsuarios">
	<input type="hidden" name="selectRowCallback" value="{selectRowCallback}">
	<input type="hidden" id="orderBy" name="orderBy" value="{orderBy}">
	<input type="hidden" id="orderByType" name="orderByType" value="{orderByType}">
	<input type="hidden" id="page" name="page" value="1">

</form>
<form  class="cuentas_form" id="buttons{id}">
	<fieldset class="tblFooters">
	
		
		<!-- input type="button" value="{lbl_submit}" id="input_submit_ajax_Usuario{id}" onclick="javascript: $( '#page' ).val( 1 ); submitBuscar('{WEB_PATH}', '#usuarios_filter{id}', '#{resultDiv}');"-->
		
		<button id="input_submit_ajax_Usuario{id}"  type="button"  onclick="javascript: $( '#page' ).val( 1 ); submitBuscar('{WEB_PATH}', '#usuarios_filter{id}', '#{resultDiv}');"><i class="icon-search on-left"></i>{lbl_submit}</button>
		
		<!-- input type="button" value="Limpiar" id="input_button_2" onclick="javascript: cleanForm('usuarios_filter'); "-->
	
	</fieldset>
</form>	
</div>
<!-- END:main -->