RewriteEngine on

AddDefaultCharset utf-8

RewriteRule ^(.*)\.html$ secytapp.php?path=$1&type=1 [L,QSA]
RewriteRule ^(.*)\.json$ secytapp.php?path=$1&type=2 [L,QSA]
RewriteRule ^(.*)\.pdf$ secytapp.php?name=$1&type=3 [L,QSA]
RewriteRule ^(.*)\.rasty$ secytapp.php?name=$1&type=4 [L,QSA]
RewriteRule ^(.*)\.do$ secytapp.php?path=$1&type=5 [L,QSA]
#RewriteRule ^(.*)$ secytapp.php?path=$1 [L,QSA]

php_flag apc.cache_by_default Off
php_flag apc.enabled Off