<!-- BEGIN:main -->
<script>


function submitBuscarProyectos(){

	$( "#page" ).val( 1 );
	
	//findProyectos();

	submitBuscar("{WEB_PATH}", "#proyectos_filter{id}", "#{resultDiv}");
}

function ordenarProyectos(name, type){

	$( "#orderBy" ).val(name);
	$( "#orderByType" ).val(type);
	
	submitBuscar("{WEB_PATH}", "#proyectos_filter{id}", "#{resultDiv}");
}

function paginateProyectos(page){
	$( "#page" ).val(page);

	submitBuscar("{WEB_PATH}", "#proyectos_filter{id}", "#{resultDiv}");
}

function selectProyecto(event, proyectoId, rowId, checkboxId){


	/* muestro un pop con las opciones sobre el proyecto */
	
	gotoLink("{linkSelect}?oid="+proyectoId);
	
}

function deleteCallback(data){

	console.log( data["info"] );
	submitBuscar("{WEB_PATH}", "#proyectos_filter{id}", "#{resultDiv}");
}

function cambioEstadoCallback(data){

	console.log( data["info"] );
	submitBuscar("{WEB_PATH}", "#proyectos_filter{id}", "#{resultDiv}");
}

$(document).ready(function(){

	submitBuscar("{WEB_PATH}", "#proyectos_filter{id}", "#{resultDiv}");

	 $(".item input").keyup(function (e) {
         if (e.keyCode == 13) {
             // función para capturar el enter en el filter default.
        	 submitBuscar("{WEB_PATH}", "#proyectos_filter{id}", "#{resultDiv}");
         }
     });
	
});


</script>


<div id="divProyectos{id}Toggle1" style="display:none">
<form class="cuentas_form">
		<fieldset>
		<legend class="search_again" id="legend_find{id}_open">{legend_again}</legend>
		</fieldset>
</form>		
</div>
<div id="divProyectos{id}Toggle2">
<form class="cuentas_form" id="proyectos_filter{id}">

		<fieldset>
		
		<legend id="legend_find{id}">{legend}</legend>		

		<div class="criteria_left">
			
			<div class="item">
			    <label for="codigo">{lbl_codigo}:</label>
		    	<rasty id="codigo" />
			</div>
			<div class="item">
			    <label for="director">{lbl_director}:</label>
		    	<rasty id="director" />
			</div>
			<div class="item">
			    <label for="estado">{lbl_estado}:</label>
		    	<rasty id="estado" />
			</div>
			
		</div>
		<div class="criteria_right">
			
			<div class="item">
			    <label for="tipoAcreditacion">{lbl_tipoAcreditacion}:</label>
		    	<rasty id="tipoAcreditacion" />
			</div>
			<div class="item">
			    <label for="facultad">{lbl_facultad}:</label>
		    	<rasty id="facultad" />
			</div>
			<div class="item">
			    <label for="filtroPredefinido">{lbl_predefinidos}:</label>
		    	<rasty id="filtroPredefinido" />
			</div>
		</div>
		
		
	</fieldset>
	
	<input type="hidden" name="model" value="{model}">
	<input type="hidden" name="filter" value="{filter}">
	<input type="hidden" name="sortCallback" value="ordenarProyectos">
	<input type="hidden" name="paginationCallback" value="paginateProyectos">
	<input type="hidden" name="selectRowCallback" value="{selectRowCallback}">
	<input type="hidden" id="orderBy" name="orderBy" value="{orderBy}">
	<input type="hidden" id="orderByType" name="orderByType" value="{orderByType}">
	<input type="hidden" id="page" name="page" value="1">

</form>
<form  class="cuentas_form" id="buttons{id}">
	<fieldset class="tblFooters">
	
		<button id="input_submit_ajax_Proyecto{id}"  type="button"  onclick="javascript: $( '#page' ).val( 1 ); submitBuscar('{WEB_PATH}', '#proyectos_filter{id}', '#{resultDiv}');"><i class="icon-search on-left"></i>{lbl_submit}</button>
	
	</fieldset>
</form>	
</div>
<!-- END:main -->