<div class="container-fluid footer_inner">

 <div class="container no-padding">

  <div class="row">
 <div class="col-lg-12">
<div class="col-sm-3 footer_logo no-padding"><a href="http://developersinaction.com/projects/g2/waliba"><img alt="" src="http://developersinaction.com/projects/g2/waliba/images/footer_logo.png"></a></div>

<div class="col-sm-3 footer_nav no-padding">
          <h2>SITE MAP</h2>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Como funcionamos</a></li>
            <li><a href="#">Quienes Somos</a></li>
          </ul>
          <ul>
            <li><a href="#">Mi Waliba</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
<!------------------------------------------------------------->		
 <div class="col-sm-4 footer_nav2 no-padding">
          <h2>Lorem ipsum dolor</h2>
          <ul>
            <li><a href="#">Maecenas bibendum</a></li>
            <li><a href="#">Consectetur adipiscing</a></li>
            <li><a href="#">Proin scelerisque</a></li>
          </ul>
          <ul>
            <li><a href="#">Duis ultricies</a></li>
            <li><a href="#">Nullam sem</a></li>
            <li><a href="#">Pharetra quam</a></li>
          </ul>
        </div>
<!---------------------------------------------------------->

 <div class="col-sm-2 footer_icon no-padding">
          <h2>STAY CONNECTED</h2>
          <p><a href="#"><img alt="" src="http://developersinaction.com/projects/g2/waliba/images/facebook.png"></a> <a href="#"><img alt="" src="http://developersinaction.com/projects/g2/waliba/images/twter.png"></a></p>
        </div>




</div>
</div>
</div>
</div>


<div class="container-fluid footer_two">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>&copy; 2015 Nagoya. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>