<!-- BEGIN:main -->
<style>
.buttons button{

	margin: 10px;
}

</style>
<div class="box">
	<div class="item">
		<h2>{lbl_username}</h2>
		<p>{username}</p>
	</div>
	<div class="item">
		<h2>{lbl_usergroup}</h2>
		<p>{usergroup}</p>
	</div>
	<div class="item">
		<h2>{lbl_email}</h2>
		<p>{email}</p>
	</div>
	<div class="item">
		<h2>{lbl_lastLogin}</h2>
		<p>{lastLogin}</p>
	</div>	
	<div class="item">
		<h2>{lbl_loginFrom}</h2>
		<p>{loginFrom}</p>
	</div>	
	<div class="item">
		<h2>{lbl_logged}</h2>
		<p>{logged}</p>
	</div>	
	
</div>
<!-- END:main -->